.footer {
  background-color: rgb(40, 31, 85);
  padding: 2em 0 0;
  color: rgba(255, 255, 255, 0.8);
}
.wrapper {
  width: 1024px;
  margin: 0 auto;
}
.footer__links {
  display: flex;
  flex-flow: row wrap;
  padding: 1em 2em;
}
.footer__link, .links__container ul li {
  color: rgba(255, 255, 255, 0.4);
}

.footer__link:hover{
  color: rgb(255, 255, 255);
}
.links__container {
  width: 25%;
}
.links__header {
  display: block;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1em;
}
.links__container ul {
  padding-left: 20px;
  line-height: 1.3em;
}
.footer__credits {
  width: 100%;
  display: flex;
  padding: 1.5em 5em;
  justify-content: space-between;
  background-color: rgb(26, 20, 59);
}
.footer__creditsSocials,
.footer__creditsDate {
  display: block;
}
